<div class="col-md-12">
  <div class="jumbotron">
    <h1>LeadLocate</h1>
    <p>Discover new leads</p>
    <p><%= link_to 'Create Account', new_account_path, class: 'btn btn-primary btn-lg' %></p>
  </div><!-- ./jumbotron -->
</div><!-- ./col-md-12 -->