<div class="col-md-12">
	<div class="jumbotron extra-margin-top">
    	<h1>LeadLocate</h1>
    	<h2>Discover new leads</h2>
    	<p><%= link_to 'Create Account', new_account_path, class: 'btn btn-primary btn-lg' %></p>
  	</div><!-- ./jumbotron -->
</div><!-- ./col-md-12 -->