<div class="col-md-12">
	<% @queries.each do |query| %>
		<h3>
			<%= query.name %>
			<small><%= query.locality %> | <%= query.skill %></small>
			<div class="pull-right">
				<%= link_to edit_query_path(query), class: 'icon-link' do %>
					<small><i class="glyphicon glyphicon-cog"></i></small>
				<% end %>
				<small><i class="glyphicon glyphicon-plus-sign"></i></small>
			</div>
		</h3>

		<ul class="list-group">
			<li class="list-group-item">No queries yet!</li>
		</ul>
	<% end %>
</div><!-- ./col-md-12 -->