//
// Mixins (common project defaults)
// --------------------------------------------------

//Resets boxshadow
@mixin reset-box-shadow(){
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

//Resets rounded
@mixin reset-rounded(){
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

//Resets gradient
@mixin reset-gradient(){
    background-image: none !important;
    filter: none !important;
}

//Bevel/emboss : default .2, .2
@mixin bevel-emboss($ol:0.2, $od:0.2){
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, $ol), inset -1px -1px 1px rgba(0, 0, 0, $od);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, $ol), inset -1px -1px 1px rgba(0, 0, 0, $od);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, $ol), inset -1px -1px 1px rgba(0, 0, 0, $od);
}

//Boxshadow
@mixin box-shadow($o, $oo){
    box-shadow: $o, $oo !important;
    -moz-box-shadow: $o, $oo !important;
    -webkit-box-shadow: $o, $oo !important;
}

@mixin box-shadow($o){
    box-shadow: $o;
    -moz-box-shadow: $o;
    -webkit-box-shadow: $o;
}

//Blur : default 3px
@mixin blur($o:3px){
    -webkit-filter: blur($o);
    -moz-filter: blur($o);
    -o-filter: blur($o);
    -ms-filter: blur($o);
    filter: blur($o);
}

//form element placeholder color : default white
@mixin placeholder-color($color: #ffffff){
    &::-webkit-input-placeholder { color: $color; }
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
}

//Border radius : default 3px
@mixin border-radius ($radius: 3px) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    border-radius:         $radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

//Opacity : default .5
@mixin opacity ($opacity: 0.5) {
    -webkit-opacity:    $opacity;
    -moz-opacity:       $opacity;
    opacity:        $opacity;
}

//Rounded corners (different on each side)
@mixin rounded($tl:0, $tr:0, $bl:0, $br:0){
    -webkit-border-top-left-radius: $tl;
    -webkit-border-top-right-radius: $tr;
    -webkit-border-bottom-right-radius: $br;
    -webkit-border-bottom-left-radius: $bl;

    -moz-border-radius-topleft: $tl;
    -moz-border-radius-topright: $tr;
    -moz-border-radius-bottomright: $br;
    -moz-border-radius-bottomleft: $bl;

    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $bl;
}

//Changes the color and the hovering properties of the navbar
@mixin navbar-variant($color, $font-color: rgba(255, 255, 255, 0.8), $hover-color: #f6f6f6, $hover-bg: rgba(0, 0, 0, 0.1)) {
    background-color: $color;
    //Navbar links
    .nav a {
        color: $font-color;
    }

    .nav > li > a:hover,
        .nav > li > a:active,
        .nav > li > a:focus,
        .nav .open > a,
        .nav .open > a:hover,
        .nav .open > a:focus {
        background: $hover-bg;
        color: $hover-color;
    }

    .navbar-right > .nav {
        margin-right: 10px;
    }
    //Add color to the sidebar toggle button
    .sidebar-toggle .icon-bar {
        background: $font-color;
       
    }
    .sidebar-toggle:hover .icon-bar {
        background: $hover-color!important;
    }
}

//Logo color variation
@mixin logo-variant($color) {
    background-color: $color;
    color: #f9f9f9;
    > a {
        color: #f9f9f9;
    }

    &:hover {
        background: darken($color, 1%);
    }
}

//Box solid color variation creator
@mixin box-solid-variant($color) {
    > .box-header {
        color: #fff;
        background: $color;        
        background-color: $color;   
        a {
            color: #444;
        }
    }
}

//Full page backgrounds
@mixin cover-background($image){
    background: #000;
    background-image: image-url($image);
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;
}

//Full page overlay : default 50% black
@mixin overlay-background($color:#000, $opacity: 0.5){
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    background: rgba($color, $opacity);
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;

    @include transition(.5s);
    @include blur(3px);
}

// Transitions
@mixin transition($s){
  -webkit-transition: $s;
     -moz-transition: $s;
       -o-transition: $s;
       -ms-transition: $s;
          transition: $s;
}

//Animations
@mixin animation($animation){
  -webkit-animation: $animation;
     -moz-animation: $animation;
       -ms-animation: $animation;
}

//Transform/rotate elements
@mixin transform($degree){
  -webkit-transform: $degree; /* Safari and Chrome */
     -moz-transform: $degree;
       -o-transform: $degree;
       -ms-transform: $degree; /* IE 9 */
          transform: $degree;
}

//For floating elements
@mixin clearfix() {
    &:before,
        &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}


@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $color), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, $color), color-stop(.75, $color), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@mixin gradient-horizontal($startColor: #555, $endColor: #333){
    background-color: $endColor;
    background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to right, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}, GradientType=1');

}
@mixin gradient-vertical($startColor: #555, $endColor: #333){
    background-color: mix($startColor, $endColor, 60%);
    background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
    background-repeat: repeat-x;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}, GradientType=0');
}

@mixin rotate($deg){
    -webkit-transform: rotate($deg);
    -moz-transform:      rotate($deg);
    -ms-transform:       rotate($deg);
    -o-transform:        rotate($deg);
}